<!DOCTYPE html>
<html>
<head>
	<title>Andy Thach - Developer</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<link rel="stylesheet" type="text/css" media="only screen and (min-width: 10px) and (max-width: 371px)" href="css/application_small.css">
</head>
<body>
	<header id="main_navigation" class="clearfix">
	<%= link_to "Andy Thach", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<%= link_to "Projects", projects_path %>
			<%= link_to "Contact", new_contact_path %>
			<% if user_signed_in? %>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
				<% end %>
		</nav>
	</header>

	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif %>
		<p class="alert"><%= alert %></p>
	<% end %>

	<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy; 2015 Andy Thach </p>
		<nav>
			<a href="https://twitter.com/andythach_" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
			<a href="https://www.linkedin.com/profile/view?id=AAIAAA9KPd0BkwQ-MLhHz71-sCKIwhRhioZnPBg&trk" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
		</nav>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
