<!DOCTYPE html>
<html>
<head>
	<title>Andy Thach - Developer</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
	<%= link_to "Andy Thach", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<a href="project.html">Projects</a>
			<a href="contact.html">Contact</a>
		</nav>
	</header>

<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy; 2015 Andy Thach </p>
		<nav>
			<a href="https://twitter.com/andythach_" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
			<a href="https://www.linkedin.com/profile/view?id=AAIAAA9KPd0BkwQ-MLhHz71-sCKIwhRhioZnPBg&trk" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
		</nav>
	</footer>
</body>
</html>
